<!-- {{circle}} Circle Spells -->
<tr>
  <td colspan="8" class="torchbearer spells spell-header">
    ~
    {{circle}}
    Circle ~
  </td>
</tr>

{{#each spells}}
  <tr class="spell-row" data-spell-id="{{_id}}">
    <td class="control">
      <input type="checkbox" class="spell-toggle" title="Cast?" {{checked data.cast}} />
    </td>
    <td>
      <h4 class="spell-name clickable" title="{{data.name}}">
        {{data.name}}
      </h4>
    </td>
    <td class="control">
      <input
        type="checkbox"
        class="spell-toggle"
        data-checkbox-type="library"
        title="In library?"
        {{checked data.library}}
      />
    </td>
    <td class="control">
      <input
        type="checkbox"
        class="spell-toggle"
        data-checkbox-type="spellbook"
        title="In spellbook?"
        {{checked data.spellbook}}
      />
    </td>
    <td class="control">
      <input
        type="checkbox"
        class="spell-toggle"
        data-checkbox-type="memorized"
        title="Memorized?"
        {{checked data.memorized}}
      />
    </td>
    <td class="control">
      <input
        type="checkbox"
        class="spell-toggle"
        data-checkbox-type="scroll"
        title="Have scroll?"
        {{checked data.scroll}}
      />
    </td>
    <td class="control">
      <input
        type="checkbox"
        class="spell-toggle"
        data-checkbox-type="supplies"
        title="Have supplies?"
        {{checked data.supplies}}
      />
    </td>
    <td class="control">
      <a class="item-control spell-delete" title="Delete Spell">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
{{/each}}
