<section>
  <div class="tb-roll-data" data-skill-or-ability="{{skillOrAbility}}">
    <div>
      <h2 style="font-family: Souvenir-Demi;">
        {{title}}
        {{#if advanceable}}
          <a class="button" id="logTestBtn" data-logged="false"><i
              class="fas fa-file-signature"
              style="float: right; font-size: smaller; margin-top: 5.5px; color: rgb(75, 74, 68);"
            ></i></a>
        {{/if}}
      </h2>
    </div>
    {{#if rollDetails}}
      <div class="row" style="font-family: Souvenir-Medium; margin: 0 0 5px 0;">
        <strong>{{rollDetails}} {{bL}}</strong>
      </div>
    {{/if}}

    {{#if flavorText}}
      <div class="row" style="font-family: Souvenir-MediumItalic;">
        <em>{{flavorText}}</em>
      </div>
    {{/if}}

    {{#if roll}}
      <div class="roll">{{{roll}}}</div>
    {{/if}}
  </div>
</section>
